
/* CONTAINS:
童哥词源20180707版
李平武+蒋真 词根 (7291)
新东方 K+T+G
英语词根与单词的说文解字
不择手段背单词
2017考研英语词汇单词记法
英语词频单词树
*/


.hr_after_tittle_box{
            border-top: 0px solid #0000ff;
            margin-top: 2px;
            margin-bottom: 0px;
            margin-left: 2px;
            margin-right: 2px;
            }


.hr_multi_keys{
            border: 5px solid white;
            margin-top: 2px;
            margin-bottom: -15px;
            margin-left: 6px;
            margin-right: 6px;
            }


.each_tittle_first{
            border-top: 1px solid #a8bf93 ;
            border-bottom: 1px solid #a8bf93 ;
            border-left: 1px solid #a8bf93 ;
            border-right: 1px solid #a8bf93 ;
            
            background:#ffcc55;
            color:#bbbbbb;

            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            }

.each_tittle_last{
            background:#bbbbbb;
            color:#0072c6;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            border-right: 1px solid #0072c6;
            border-top: 1px solid #0072c6;
            border-bottom: 0px solid #0072c6;
            }
.each_tittle_mds{
            background:#bbbbbb;
            color:#0072c6;

            border-right: 1px solid #0072c6;
            border-top: 1px solid #0072c6;
            border-bottom: 0px solid #0072c6;
            }
.hr_multi_keys:hover{}

.each_tittle_only{
            background:#48c0a3;
            color:#bbbbbb;
            border-top: 0px solid #0072c6;
            border-bottom: 0px solid #0072c6;
            border-left: 0px solid #0072c6;
            border-right: 0px solid #0072c6;
            border-top-left-radius:2px;
            border-top-right-radius:2px;
            border-bottom-right-radius:2px;
            border-bottom-left-radius:2px;border-radius:0px 50px 50px 50px;
            }
.each_tittle_smgs{
            display:inline-block; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; font-weight: bold;color:white !important;
            border-radius:50px 50px 50px 50px; border:0px solid #0072c6;/*text-shadow: 0px 0px 8px #888888;*/
            min-width:20px;
            /*max-width:48px;*/
            padding-top: 5px;
            padding-bottom: 5px;margin-right:0.5px;margin-bottom:2px;margin-left:0.5px;
            padding-left: 4px;
            padding-right: 4px;  
            /* font-family: "Times New Roman", Times, serif, 微软雅黑; */
            font-family: 宋体;font-family: 微软雅黑;font-size:12px !important;
            text-align:center;
            }

.each_tittle_smgs:active,
.each_tittle_smgs:active:always{
  text-shadow: 0px 0px 8px red !important;background-color:#38a1db !important;
    color:#000000;
background:#FFFFFF;
text-shadow:0 -1px 2px #737373;
}

.javascript_tittle_box{
            padding-top: 1px;
            padding-bottom: 0px;
            padding-left: 2px;
            padding-right:2px;

            text-align:right;
            }

.one{display:block;background-color:red;color: #333;margin:10px 0 0;padding:8px 6px;background: #f7fcfe ;box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.13);border-radius: 5px;}
.two{display:block;background-color:blue;color: #333;margin:10px 0 0;padding:8px 6px;background: #fffbf0;box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.13);border-radius: 5px;}